<html>
    <head>
        <title> Henry's Portfolio </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
                <!-- <a id="nameIcon">H</a> -->
            <a href="#" class="active" id="nameIcon">H</a>
              <div id="myLinks">
                <a href="#news">Projects</a>
                <a class="#bottomInfo" href="#contact">Contact</a>
                <a href="/about">About</a>
                <p id="navContact">Henry Frank<br>henryfrank@gmail.com<br>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                      <i class="fa fa-bars"></i>
                    </a>
        </div>
        <div>
        <div class="introText">
                <img src="me-face.jpg" width="400px"></img>
            <h1 id="nameText">Hello, I'm <span id="henry">Henry</span>. I'm a Fullstack Developer living in San Diego.</h1>
        </div>
        <div class="projects">
            <div class="eachProject">
                <div class="projectIcon">
                    <p class="projectText" onclick=<%= projectData1.onClickFunction %>><%= projectData1.title %></p>
                </div>
            </div>
            <div class="eachProject">
                    <div class="projectIcon">
                        <p class="projectText" onclick=<%= projectData2.onClickFunction %>><%= projectData2.title %></p>
                    </div>
            </div>
            <div class="eachProject">
                    <div class="projectIcon">
                        <p class="projectText" onclick=<%= projectData3.onClickFunction %>><%= projectData3.title %></p>
                    </div>
            </div>
            <div class="eachProject">
                    <div class="projectIcon">
                        <p class="projectText" onclick=<%= projectData4.onClickFunction %>><%= projectData4.title %></p>
                    </div>
            </div>
            <div class="eachProject">
                <div class="projectIcon">
                        <p class="projectText" onclick=<%= projectData5.onClickFunction %>><%= projectData5.title %></p>
                </div>
        </div>
        <div class="projectView" id="mortgageProjectToggle">
            <div class="centering">
            <h1 id="projectTitle"><%= projectData1.title %></h1>
            <p class="projectDescription">T<%= projectData1.description %></p>
            <button class ="projectButton"><a href="<%= projectData1.herokuLink %>">View project on Heroku</a></button>
            <button class ="projectButton"><a href="<%= projectData1.gitHubLink %>">View Github Repository</a></button>
            </div>
        </div>
        <div class="projectView" id="changeProjectToggle">
                <div class="centering">
                <h1 id="projectTitle"><%= projectData2.title %></h1>
                <p class="projectDescription"><%= projectData2.description %>.</p>
                <button class ="projectButton"><a href="<%= projectData2.herokuLink %>">View project on Heroku</a></button>
                <button class ="projectButton"><a href="<%= projectData2.gitHubLink %>">View Github Repository</a></button>
                </div>
        </div>
        <div class="projectView" id="flightProjectToggle">
                <div class="centering">
                <h1 id="projectTitle"><%= projectData3.title %></h1>
                <p class="projectDescription"><%= projectData3.description %></p>
                <button class ="projectButton"><a href="<%= projectData3.herokuLink %>">View project on Heroku</a></button>
                <button class ="projectButton"><a href="<%= projectData3.gitHubLink %>">View Github Repository</a></button>
                </div>
        </div>
        <div class="projectView" id="todoProjectToggle">
                <div class="centering">
                <h1 id="projectTitle"><%= projectData4.title %></h1>
                <p class="projectDescription"><%= projectData4.description %></p>
                <button class ="projectButton"><a href="<%= projectData4.herokuLink %>">View project on Heroku</a></button>
                <button class ="projectButton"><a href="<%= projectData4.gitHubLink %>">View Github Repository</a></button>
                </div>
        </div>
        <div class="projectView" id="topProjectToggle">
                <div class="centering">
                <h1 id="projectTitle"><%= projectData5.title %></h1>
                <p class="projectDescription"><%= projectData5.description %></p>
                <button class ="projectButton"><a href="<%= projectData5.herokuLink %>">View project on Heroku</a></button>
                <button class ="projectButton"><a href="<%= projectData5.gitHubLink %>">View Github Repository</a></button>
                </div>
        </div>

        <div id="contactView">
            <h2 id="contactHeadline">If you want to get in touch please leave me your info and I'll get back to you, </h2>
            <div class="forms">
                <form action="/thanks" method="POST" name="test-form">
                  <label for="firstName">First Name:</label>
                  <input id="firstName" name="firstName" type="text">
          
                  <label for="lastName">Last Name:</label>
                  <input id="lastName" name="lastName" type="text">
          
                  <label for="email">Email:</label>
                  <input id="email" name="email" type="email" placeholder="Email">
        
                  <!-- <button type="submit"><a href="/thanks">Submit</a></button> -->
                  <input type="submit" value="Send" />
                </form>
            </div>
        </div>
        <div class="bottomInfo">
            <h3>If you want to contact me</h3>
            <a id="contactButton" href="#" onclick="contactToggle()">
                    Click here
            </a>
        </div>
        <script src="./index.js" charset="utf-8"></script>
    </body>
</html>